
<ion-view title="Self-Reporting Screening Tool">
    <!--news feed section-->
    <ion-content id="opioid-tool-content">

        <div class="opioid-item">
            <div class="row detail">
                <div class="col">
                    <h1>
                        Opioid Risk Tool
                    </h1>
                   <p class="content">
							Please choose the options that apply.
                  </p>
		<br>
		 <form> 
			I am a:
  			<input type="radio" name="gender" id="male" value="male"> Male
  			<input type="radio" name="gender" id="female" value="female"> Female<br>
			<input type="checkbox" id="age" value="age">
			I am aged 16 - 45 years? 
			<br>
			<br>
			My pain score today is: <input type="range" name="pain" id="pain" min="1" max="10" step="1" value="1">
			<br>
			<br>
			<p> My family has a history of abusing: </p>
			<input type="checkbox" id="family1" value="alcohol"> Alcohol<br>
			<input type="checkbox" id="family2" value="drugs"> Illegal Drugs<br>
			<input type="checkbox" id="family3" value="rx"> Prescription Drugs<br>
			<br>
			<p> Personal History: </p>
			<input type="checkbox" id="personal1" value="alcohol">I have abused Alcohol<br>
			<input type="checkbox" id="personal2" value="drugs"> I have abused Illegal Drugs<br>
			<input type="checkbox" id="personal3" value="rx"> I have abused Prescription Drugs<br>
			<input type="checkbox" id="personal4" value="abuse"> I have a history of Preadolescent Sexual Abuse<br>
			<input type="checkbox" id="personal5" value="psychological"> I have a history of ADD, OCD, bipolar, or schizophrenia <br>
			<input type="checkbox" id="personal6" value="depression"> I have a history of Depression<br>
		</form> 
		<br>
		<div>
	<!--	<button ion-button ng-click="submit()"	round> <h3
style=width=100%;>Submit</h3>  </button>-->
			<button ion-button ng-click="submit()"> Submit </button>
		</div>
                </div>
            </div>
        </div>
   </ion-content>
</ion-view>

