<ion-view view-title="device connection status">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Device Connection Status</h1>
    </ion-header-bar>
    <ion-content>
        <p>count: {{count}}<p>
        <p>x value: {{x}}<p>
        <p>y value: {{y}}<p>
        <p>z value: {{z}}<p>
        <p>timestamp: {{timestamp}}<p>
        <p>power: {{power}}<p>

        <button class="button button-full button-positive" ng-click="getMotion()">
            Update
        </button>
    </ion-content>
</ion-view>

