<!--View Information-->
<!--View name : Menu-->
<!--Controller name : menuCtrl-->
<!--Controller path : www/templates/menu/js/controllers.js-->
<!--State name : app-->
<!--URL : #app-->

<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced  material-background-nav-bar">
      <ion-nav-buttons side="left">
        <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
    <!--menu section-->
    <div class="material-background" id="toggle-menu-left-header">
      <!--menu header section-->
      <div class="menu-left-header">
        <!--<img class="user-img" src="img/LifeKitLogo.jpg">-->

        <p>
          <span class="title">LifeKit</span>
          <br/>
          <span class="sub-title">Status: Naloxone Carrier</span>
        </p>
      </div><!--end menu header section-->
    </div> <!--menu content section-->
    <ion-content id="toggle-menu-left-content">
      <!--If device is not Android application will present below code.-->
      <!--It will show animation when selecting row.-->
      <md-list">
	   <md-subheader class="md-warn">Monitoring</md-subheader>
		<md-list-item class="menu-list-item" ng-click="navigateTo('app.monitor')">
          <i class="fa fa-heart"></i>
          <span>Monitor</span>
        </md-list-item>
	  <md-subheader class="md-warn">My Account</md-subheader>
		<md-list-item class="menu-list-item" ng-click="navigateTo('app.contactList')">
          <i class="fa fa-user"></i>
          <span>Contact List</span>
        </md-list-item>
		<md-subheader class="md-warn">Naloxone Locator</md-subheader>
        <md-list-item class="menu-list-item" ng-click="navigateTo('app.naloxoneLocator')">
          <i class="fa fa-map"></i>
          <span>Naloxone Locator</span>
        </md-list-item>
        <md-subheader class="md-warn">Additional Information</md-subheader>
        <md-list-item class="menu-list-item" ng-click="navigateTo('app.naloxoneInfo')">
          <i class="fa fa-info"></i>
          <span>How to use Naloxone</span>
        </md-list-item>
        <md-list-item class="menu-list-item" ng-click="navigateTo('app.opioidInfo')">
          <i class="fa fa-info"></i>
          <span>Information about Opioids</span>
        </md-list-item>
		  <md-list-item class="menu-list-item" ng-click="navigateTo('app.appInfo')">
			 <i class="fa fa-info"></i>
			 <span>How to use the Application</span>
		  </md-list-item>
		  <md-subheader class="md-warn">Self-Reporting Screening Tool</md-subheader>
		  <md-list-item class="menu-list-item" ng-click="navigateTo('app.opioidToolInfo')">
		   <i class= "fa fa-info"></i>
		   <span> Opioid Risk Tool Information </span>
		  </md-list-item>
		  <md-list-item class="menu-list-item" ng-click="navigateTo('app.opioidTool')">
		   <i class="fa fa-heart"></i>
		   <span> Opioid Risk Tool </span>
		  </md-list-item>
        <md-subheader class="md-warn">Material User Interface</md-subheader>
        <md-list-item class="menu-list-item" ng-click="navigateTo('app.dashboard')">
          <i class="fa fa-th-list"></i>
          <span>Dashboard</span>
        </md-list-item>
      </md-list>
      <!--end list section-->
    </ion-content><!--end menu content section-->
    <!--end menu section-->

  </md-sidenav>
</ion-side-menus>
