<!--View Information-->
<!--View name : Fake Sign Up-->
<!--State name : app.fakeSignUp-->
<!--URL : #app/fakeSignUp-->

<ion-view title="Select Type Of User">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--social sign up section-->
	
    <ion-content id="social-sign-up-content">
        <div class="app-icon">
          <img src="img/app_icon.png" class="md-card-image">
        </div>

        <p style="text-align:center; margin-top: 40px"><b>I am a...</b></p>
        <ion-radio ng-model="choice" ng-value="'A'">Naloxone User</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">Naloxone Carrier</ion-radio>
   
        <!--end input section-->
        <a ng-click="navigateTo('app.dashboard')" style="margin-top: 30px; margin-left: 0" class="md-raised social-button md-button md-default-theme material-background">
          Complete
        </a>
      </div>
    </ion-content><!--end social sign up section-->
</ion-view>
