<!--View Information-->
<!--View name : Dashboard-->
<!--Controller name : dashboardCtrl-->
<!--Controller path : www/templates/dashboard/dashboard/js/controllers.js-->
<!--State name : app.dashboard-->
<!--URL : #app/dashboard-->

<ion-view view-title="">

    <!--right button on navigation bar-->
    <ion-nav-buttons side="right">
        <md-button class="md-icon-button ion-nav-button-right" ng-click="goToSetting()"
                   aria-label="Setting">
            <i class="ion-android-more-vertical"></i>
        </md-button>
    </ion-nav-buttons> <!--end right button on navigation bar-->

    <!--toolbar section-->
    <md-toolbar class="bar-subheader md-tall md-primary toolbar-medium">
        <div>
            <h1>LifeKit</h1>

            <h2>Locate. Naloxone. Now</h2>
        </div>
    </md-toolbar><!--end toolbar section-->

    <!--dashboard section-->
    <ion-content id="dashboard-content">

        <!--list section-->

        <!--Below code it will disable animation to better performance-->
        <div ng-if="!isAnimated" class="menu-list">
			<md-subheader class="md-warn">Monitoring</md-subheader>
            <div class="row menu-item" ng-click="navigateTo('app.monitor')">
                <div class="col-25">
                    <i class="fa fa-info"></i>
                </div>
                <div class="col-50">
                    <span>Monitor</span>
                </div>
                <div class="col-25 menu-more">
                    <i class="ion-android-more-vertical"></i>
                </div>
            </div>
				<md-subheader class="md-warn">Contacts </md-subheader>
            <div class="row menu-item" ng-click="navigateTo('app.contactList')">
                <div class="col-25">
                    <i class="fa fa-users"></i>
                </div>
                <div class="col-50">
                    <span>Contact Manager</span>
                </div>
                <div class="col-25 menu-more">
                    <i class="ion-android-more-vertical"></i>
                </div>
            </div>
            <md-subheader class="md-warn">Naloxone Locator</md-subheader>
            <div class="row menu-item"  ng-click="navigateTo('app.naloxoneLocator')">
                <div class="col-25">
                    <i class="fa fa-map"></i>
                </div>
                <div class="col-50">
                    <span>Map</span>
                </div>
                <div class="col-25 menu-more">
                    <i class="ion-android-more-vertical"></i>
                </div>
            </div>
            <md-subheader class="md-warn">Emergency Tools</md-subheader>
            <div class="row menu-item"  ng-click="navigateTo('app.emergency')">
                <div class="col-25">
                    <i class="fa fa-asterisk"></i>
                </div>
                <div class="col-50">
                    <span>Emergency Demo</span>
                </div>
                <div class="col-25 menu-more">
                    <i class="ion-android-more-vertical"></i>
                </div>
            </div>
				<md-subheader class="md-warn">Additional Information</md-subheader>
<!--				<div class="row menu-item" ng-click="navigateTo('app.mobileContractList')">
					<div class="col-25">
						<i class="fa fa-info"></i>
					</div>
					<div class="col-50">
						<span>What are Opioids?</span>
					</div>
					<div class="col-25 menu-more">
						<i class="ion-android-more-vertical"></i>
					</div>-->
				<div class="row menu-item" ng-click="navigateTo('app.naloxoneInfo')">
                <div class="col-25">
                    <i class="fa fa-info"></i>
                </div>
                <div class="col-50">
                    <span>How to use Naloxone</span>
                </div>
                <div class="col-25 menu-more">
                    <i class="ion-android-more-vertical"></i>
                </div>
            </div>
				<div class="row menu-item" ng-click="navigateTo('app.opioidInfo')">
                <div class="col-25">
                    <i class="fa fa-info"></i>
                </div>
                <div class="col-50">
                    <span>Information about Opioids</span>
                </div>
                <div class="col-25 menu-more">
                    <i class="ion-android-more-vertical"></i>
                </div>
            </div>
            <div class="row menu-item" ng-click="navigateTo('app.appInfo')">
               <div class="col-25">
                  <i class="fa fa-info"></i>
               </div>
               <div class="col-50">
                  <span>How to use the Application</span>
               </div>
               <div class="col-25 menu-more">
                  <i class="ion-android-more-vertical"></i>
					</div>
				</div>
            <md-subheader class="md-warn">Self-Reporting Screening Tool</md-subheader>
            <div class="row menu-item" ng-click="navigateTo('app.opioidToolInfo')">
                <div class="col-25">
                    <i class="fa fa-info"></i>
                </div>
                <div class="col-50">
                    <span>Opioid Risk Tool Information</span>
                </div>
                <div class="col-25 menu-more">
                    <i class="ion-android-more-vertical"></i>
                </div>
            </div>
            <div class="row menu-item" ng-click="navigateTo('app.opioidTool')">
                <div class="col-25">
                    <i class="fa fa-heart"></i>
                </div>
                <div class="col-50">
                    <span>Opioid Risk Tool</span>
                </div>
                <div class="col-25 menu-more">
                    <i class="ion-android-more-vertical"></i>
                </div>
            </div>
			</div>

		</ion-content><!--end dashboard section-->
</ion-view>
